@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,600;1,700&display=swap");
html, body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  color: #4C4643;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4C4643;
}

.text-purple {
  color: #9C89AD;
}

.hide {
  display: none !important;
}

header {
  height: 150px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
header .logo-content {
  height: 100%;
  display: flex;
  align-items: center;
}
header .logo-content a {
  height: 100%;
}
header .logo-content a img {
  height: 100%;
}
header .logo-content__slogan {
  display: flex;
  flex-direction: column;
  text-align: center;
}
header .logo-content__slogan h4 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
header .logo-content__slogan h6 {
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  margin: 0;
  padding: 0;
}
header button#contact {
  cursor: pointer;
  color: #FFF;
  padding: 10px 15px;
  text-align: center;
  border-radius: 10px;
  background-color: #9C89AD;
  border: 2px solid #6E5784;
  transition: 0.3s ease-in-out;
}
header button#contact:hover {
  background-color: #6E5784;
  color: #FFF;
}

@media only screen and (max-width: 239px) {
  button#contact {
    margin-top: 6px;
  }
}
@media only screen and (max-width: 480px) {
  header {
    height: 200px;
    flex-direction: column;
  }
  header .logo-content {
    height: 100%;
    flex-direction: column;
  }
  header .logo-content a {
    height: 150px;
  }
  header .logo-content a img {
    height: 100%;
  }
  header .logo-content__slogan {
    margin-top: -30px;
  }
  header button#contact {
    margin-top: 25px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  header {
    height: 100px;
  }
  header .logo-content__slogan h4 {
    font-size: 12px;
  }
  header .logo-content__slogan h6 {
    font-size: 8px;
  }
  header button#contact {
    color: #FFF;
    padding: 5px 10px;
    font-size: 12px;
    margin-top: 25px;
  }
}
.navigation {
  width: 100%;
  background-color: #DFD0EA;
  padding: 10px 0;
}
.navigation-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navigation-links a {
  font-weight: 500;
  color: #FFF;
  transition: 0.5s;
  position: relative;
}
.navigation-links a:hover {
  color: #9C89AD;
}
.navigation-links a:hover:after {
  width: 100%;
  height: 2px;
}
.navigation-links a::after {
  position: absolute;
  transition: 0.5s;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: #9C89AD;
}

@media only screen and (max-width: 480px) {
  .navigation-links {
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navigation-links li {
    margin-bottom: 10px;
  }
}
.cart {
  display: flex;
  padding-top: 20px;
}
.cart-items {
  flex: 10;
  display: flex;
  flex-direction: column;
}
.cart-headings, .cart-item {
  display: flex;
  padding: 15px;
}
.cart-headings .id, .cart-item .id {
  flex: 1;
  text-align: center;
}
.cart-headings .name, .cart-item .name {
  flex: 3;
  margin-left: 15px;
  text-align: left;
}
.cart-headings .amount, .cart-item .amount {
  flex: 1;
  text-align: center;
}
.cart-headings .price, .cart-item .price {
  flex: 1;
  text-align: center;
}
.cart-headings .total, .cart-item .total {
  flex: 1;
  text-align: center;
}
.cart-headings .image, .cart-item .image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.cart-headings .image img, .cart-item .image img {
  width: 100%;
  height: 100%;
}
.cart-payment {
  flex: 3;
  background-color: #DFD0EA;
  color: white;
  padding: 50px 30px;
  margin-right: 10px;
  border-radius: 15px;
  height: fit-content;
}
.cart-payment__discount, .cart-payment__total, .cart-payment__to-pay {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.cart-payment__discount .total-label, .cart-payment__total .total-label, .cart-payment__to-pay .total-label {
  font-size: 20px;
  font-weight: bold;
  color: #9C89AD;
}
.cart-payment__discount .total-value, .cart-payment__total .total-value, .cart-payment__to-pay .total-value {
  font-size: 20px;
  font-weight: bold;
  color: #6E5784;
}
.cart-payment__button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.cart-payment__button button {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  background-color: #DFD0EA;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #FFF;
  cursor: pointer;
  transition: 1s;
}
.cart-payment__button button:hover {
  background-color: #9C89AD;
}

@media only screen and (max-width: 480px) {
  .cart {
    flex-direction: column;
  }
  .cart-payment {
    width: 70%;
    max-width: 70%;
    margin: auto;
    margin-bottom: 20px;
  }
  .cart-headings, .cart-item {
    font-size: 12px;
  }
  .cart-headings .image, .cart-item .image {
    display: none;
  }
  .cart-headings div, .cart-item div {
    margin-right: 5px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .cart {
    flex-direction: column;
  }
  .cart-payment {
    width: 70%;
    max-width: 70%;
    margin: auto;
    margin-bottom: 20px;
  }
  .cart-headings, .cart-item {
    font-size: 12px;
  }
  .cart-headings .image, .cart-item .image {
    display: none;
  }
}
.footer-container {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #DFD0EA;
}
.footer-container__copyright {
  color: #fff;
}
.footer-container__nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  font-size: 16px;
  color: #fff;
}
.footer-container__nav-list {
  display: flex;
}
.footer-container__nav-list li {
  margin: 0 10px;
  font-size: 12px;
}
.footer-container__nav-list li:hover {
  cursor: pointer;
  color: #fff;
  font-weight: 500;
}
.footer-container__social {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  font-size: 14px;
  color: #fff;
}
.footer-container__social-list {
  display: flex;
}
.footer-container__social-list li {
  margin: 0 10px;
}
.footer-container__social-list li:hover {
  cursor: pointer;
  color: #fff;
  font-weight: 500;
}

@media only screen and (max-width: 480px) {
  .footer-container {
    padding: 25px;
    flex-direction: column;
  }
  .footer-container__copyright {
    text-align: center;
    font-size: 14px;
    order: 3;
    margin-top: 15px;
  }
  .footer-container__nav {
    order: 1;
    padding: 0;
  }
  .footer-container__nav-list {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .footer-container__nav-list li {
    margin-top: 10px;
  }
  .footer-container__social {
    order: 2;
    padding: 0;
    margin-top: -10px;
  }
  .footer-container__social-list {
    padding: 0;
    margin: 10px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .footer-container {
    padding: 25px;
    flex-direction: column;
  }
  .footer-container__copyright {
    font-size: 14px;
    order: 3;
    margin-top: 15px;
  }
  .footer-container__nav {
    order: 1;
    padding: 0;
  }
  .footer-container__nav-list {
    padding: 0;
  }
  .footer-container__social {
    order: 2;
    padding: 0;
    margin-top: -10px;
  }
  .footer-container__social-list {
    padding: 0;
    margin: 10px;
  }
}
.modal {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  opacity: 1;
}
.modal .thanks {
  color: #FFF;
  text-align: center;
}
.modal__content {
  padding: 30px;
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #FFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.modal__content-header {
  max-width: 400px;
  text-align: center;
}
.modal__content-close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modal__content-body-input {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal__content-body-input label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
.modal__content-body-input input {
  padding: 5px;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
}
.modal__content-footer-btn {
  padding: 15px 30px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #9C89AD;
  color: #FFF;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.modal__content-footer-btn:hover {
  border: 2px solid #6E5784;
  background-color: #FFF;
  color: #6E5784;
}

/*# sourceMappingURL=stylesCart.css.map */
